In [1]:
#Реализовать функцию, которая оставляет в списке из чисел лишь элементы, которые заданное число делит без остатка.
import random

arr = [random.randint(4, 21) for i in range(10)]
arr

[15, 5, 5, 18, 17, 16, 18, 20, 19, 14]

In [2]:
val = int(input('Введите число: '))

def div(arr):
    res=[]
    for i in arr:
        if i%val==0:
            res.append(i)
    return res

div(arr)

Введите число: 2

[18, 16, 18, 20, 14]

In [52]:
#Реализовать функцию, удаляющую из списка каждый третий элемент, а каждый пятый удваивающую.
arr = [random.randint(4, 21) for i in range(10)]
arr

[17, 15, 6, 12, 8, 6, 16, 9, 18, 16]

In [54]:
def f(arr):
    res=[]
    for i in range(len(arr)):
        if (i+1)%3 != 0:
            res.append(arr[i])
    return res

f(arr)

[17, 15, 12, 8, 16, 9, 16]

In [34]:
#Реализовать функцию, которая для заданного элемента считает количество его повторений в списке.
arr = [random.randint(4, 21) for i in range(10)]
arr

[16, 13, 12, 4, 6, 6, 6, 18, 15, 7]

In [38]:
val = int(input('Введите число: '))

def f(arr,val):
    sum=0
    for i in arr:
        if i==val:
            sum+=1
    return sum

f(arr,val)

Введите число: 12

1

In [46]:
#Реализовать функцию, реверсирующую список по три элемента, например для [1, 2, 3, 4, 5, 6] 
#должно получиться [3, 2, 1, 6, 5, 4].
arr = [random.randint(4, 21) for i in range(10)]
arr

[15, 17, 11, 5, 13, 4, 6, 14, 5, 11]

In [51]:
def f(arr1):
    res=[]
    i=0
    for j in range(int(len(arr1)/3)):
        arr=arr1[i:i+3]
        res.extend(arr[::-1])
        i+=len(arr)
    return res

f(arr)

[11, 17, 15, 4, 13, 5, 5, 14, 6]

In [58]:
#Реализовать функцию, которая из двух списков, состоящих из чисел, строит список из парных разностей. 
#Например для [1, 2, 3, 4] и [2, 3, 4, 2] должно получиться [-1, -1, -1, 2].
arr = [random.randint(4, 21) for i in range(10)]
arr

[7, 17, 18, 11, 18, 8, 8, 14, 8, 6]

In [59]:
arr1 = [random.randint(4, 21) for i in range(10)]
arr1

[8, 5, 14, 13, 10, 12, 4, 17, 10, 20]

In [60]:
def f(arr, arr1):
    res=[]
    for i in range(len(arr)):
        res.append(arr[i]-arr1[i])
    return res

f(arr,arr1)

[-1, 12, 4, -2, 8, -4, 4, -3, -2, -14]

In [63]:
#Для заданного списка L функция образует список из чисел сколько раз каждый символ встречается в списке L.
L = [random.randint(0, 5) for i in range(10)]
L

[1, 4, 4, 5, 2, 5, 3, 1, 4, 5]

In [64]:
def f(L):
    res=[]
    l=[]
    for i in L:
        if i in l:
            continue
        res.append(L.count(i))
        l.append(i)
    return res

f(L)

[2, 3, 3, 1, 1]

In [65]:
#Функция удаляет все нулевые и отрицательные элементы из списка и полученный список сортирует по возрастанию.
arr = [random.randint(-21, 12) for i in range(10)]
arr

[9, -14, -20, -9, -4, 7, 5, 12, -11, -17]

In [66]:
def f(arr):
    return sorted([i for i in arr if i > 0])

f(arr)

[5, 7, 9, 12]

In [76]:
#Функция для заданного числа N и списка из элементов не превышающих N формирует список из недостающих. 
#Например, N=10, список — [1, 2, 3, 6, 7], тогда результат [4, 5, 8, 9].
N = int(input('Введите число: '))
arr = list(range(1,N-3))
arr

Введите число: 10

[1, 2, 3, 4, 5, 6]

In [78]:
def f(arr, N):
    res = list()
    for i in range(1, N):
        if i not in arr:
            res.append(i)
    return res

f(arr,N)

[7, 8, 9]

In [1]:
#Из папки на github с текущим заданием загрузить файл data_1.csv
import numpy as np
import pandas as pd

data=pd.read_csv("https://raw.githubusercontent.com/junaart/ForStudents/master/Big_Data/Seminar_4/data_1.csv")
data

,ФИО,Дата рождения,Пол,Дата приема на работу,Оклад,Семейное положение,Кол-во детей
0,Алистратов А.А.,27.10.1975,м,08.09.1997,4000,женат,1.0
1,Анохин Н.И.,11.12.1948,м,23.05.1986,5000,разведен,1.0
2,Антонова И.П.,04.12.1951,ж,09.05.1988,4300,замужем,1.0
3,Артемова Г.А.,06.08.1979,ж,05.09.1997,4500,незамужем,NaN
4,Афоничева Л.К.,09.01.1952,ж,05.10.1985,4900,замужем,1.0
...,...,...,...,...,...,...,...
95,Шафеева Н.К.,29.07.1939,ж,09.12.1985,4500,замужем,1.0
96,Шиманюк Н.И.,06.11.1979,м,23.11.1998,4000,холост,NaN
97,Элиава Т.М.,19.05.1981,м,10.09.1997,3700,холост,NaN
98,Якимова Н.М.,16.05.1973,ж,07.09.1999,3000,замужем,2.0
99,Яфарова Т.Н.,04.09.1945,ж,21.03.1986,4000,замужем,2.0